@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  Undoes built-in focus styles for prose-mirror. The focus style clashes with
  text-editor's margin and I have my own custom focus style for the editor
*/
.ProseMirror:focus {
  outline: none;
}

.about-page.prose {
  max-width: none;
}

.rendered-recipe.prose {
  max-width: 55rem;
}

.recipe-editor.prose {
  max-width: none;
  padding-left: 1rem;
  padding-right: 1rem;
}
